body {
    background-color: whitesmoke;
}

.song-card {

    display: flex;
    flex-direction: row;
    width: 600px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25)
}

.song-card > img {
    width: 250px;
}


.info-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-details > img {
    height: 18px;
    width: 18px;
}

